<div class="bg-info text-white">
<div class="p-2 mb-4">
    <img style="float:left" width="80px" height="80px" src="../../../assets/logo.jpg">
    <div class="content-heading"><h1 align="right">ABC Bank<br/><h5>Loan Processing Application</h5></h1></div>
</div>
</div>

<body class="p-3">
    <div class="mb-4">
    <h3> Welcome!! Now get your loan approved instantly!!!</h3>
    </div>
    <div class="mb-5">
        Welcome to ABC Bank Loan Processing System. <br/>Now get your loan approved immeditately using this fully automated application.<br/>
    </div>
    <div>
        <p style="float:left; margin-right:20px"><a [routerLink]="'/submit'"><button type="button" class="btn btn-primary">Submit a new Application</button></a></p>
    </div>
    <div>
        <p style="float:left"><a [routerLink]="'/view'"><button type="button" class="btn btn-success">View all existing applications</button></a></p>
    </div>
</body>

<router-outlet></router-outlet>



