<div class="bg-info text-white">
    <img class="ml-2 mt-2 pb-2" style="float:left" width="80px" height="80px" src="../../../assets/logo.jpg">
    <h2 class="pt-4 pb-4 mb-4 mr-2" align="right">SUCCESS!</h2>
</div>
<div class="m-3">
<h4 class="mb-4">Application Submitted Successfully!</h4>

<body class="mb-4">
    Congratulations! Your application is submitted successfully.<br/>
    Our automated system will determine if your application is accepted or not.<br/>
    You can check the status of your application by clicking on "View existing applications".
</body>

<div align="right">
    <button type="button" class="btn btn-warning mr-3" (click)="back('/view')">View Applications</button>
    <button type="button" class="btn btn-info mr-2" (click)="home('/home')">Home</button>
</div>
</div>